@{
    Layout = "~/Views/Main/_Layout.cshtml";
}

<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12 fill" style="text-align:center;"><h1>Perdeste...</h1></div>
        <div class="col-md-12 fill" style="text-align:center;"><h1>Mas ninguem morre por isso!</h1></div>
        <div class="col-md-12 fill" style="text-align:center;"><h1>Tenta outra vez !!</h1></div>
        
        <div class="imageee" style="top:30%;">

            <img src="/Content/img/perder.png" class="img-responsive" alt="img">

        </div>



    </div>
</div>