@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12 bck-img">
            <img src="/Content/img/world.jpg">
        </div>
        <div class="footer">
            <h1>Sistema de Administração</h1>
        </div>
    </div>
</div>
